a
  color: #055b93

.article
  max-width: 800px
  margin: 10px
  text-align: left
  p
    font-family: serif
    font-size: 1.1em
  figure
    text-align: center
    width: 30%
    float: right
    img
      width: 100%

.w100
    width: 100% !important

.w30
    width: 30% !important

#toc
    display: none
    text-align: left

#article_list
  text-align: left
  list-style-type: none
  li
    h2
      margin-bottom: 10px
      font-size: 1.1em
    p
      margin-top: 10px
      margin-left: 14px
    font-size: 1.1em
    padding-top: 0.5em
  width: 100%

.faint
  opacity: 0.5

#body-container
    margin-top: 5em
    
blockquote 
  background: #f9f9f9
  border-left: 10px solid #ccc
  margin: 1.5em 10px
  padding: 0.5em 10px
  quotes: "\201C""\201D""\2018""\2019"

blockquote:before 
  color: #ccc
  content: open-quote
  font-size: 4em
  line-height: 0.1em
  margin-right: 0.25em
  vertical-align: -0.4em

blockquote p 
  display: inline

img[src$='#img-small']
  width: 30%

#disqus_wrapper
    margin-top: 10em