<h1>Articles</h1>

<ul id="article_list">
    {% for article in articles %}
    <li>
        <h2>
            <a href="{{'articles/' + article.url}}"> {{article.title}} </a>
            <span>{{article["date"]}}</span>
        </h2>
        <p>{{article["outline"]}}</p>
    </li>
    {% endfor %}
</ul>
